# Database
POSTGRES_DB=backend
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# Backend
ASPNETCORE_ENVIRONMENT=Development
JWT_SECRET=jwt_secret # <- change here (generate)
GOOGLE_CLIENT_ID=google_client_id # <- change here (google cloud console)
JWT_ISSUER=backend-app
JWT_AUDIENCE=react-app
OPENROUTER_API_KEY=your_api_key # <- change here
OPENROUTER_MODEL="google/gemma-4-26b-a4b-it" # <- and here if you want
OPENROUTER_APP_URL="https://openrouter.ai/api/v1/chat/completions"

# Frontend
VITE_APP_API_URL=http://localhost:8080
VITE_APP_GOOGLE_CLIENT_ID=google_client_id # <- change here (google cloud console)
VITE_GOOGLE_REDIRECT_URI=http://localhost:5173/auth/callback
VITE_RAG_AGENTIC_WS_URL=ws://localhost:8000/api/v1/ws/query
VITE_RAG_HYBRID_WS_URL="ws://localhost:8035/rag/ws/query"
